@font-face {
  font-family: Rubik;
  src: url("../fonts/Rubik.ttf");
}
main.svelte-tnbmt2 {
  background: #99b992;
  width: 100%;
  height: 100%;
}

h1.svelte-tnbmt2 {
  font-family: Rubik;
}

.svelte-tnbmt2 {
  margin: 0;
  padding: 0;
}